<!-- <h1>esto es un : {{ title }}</h1>

<ul *ngFor="let i of hola">
    <app-user [nameUser]="i"></app-user>
</ul>
<hr>



<div>
    <li *ngIf="Activated">hola</li>
    <button (click)="press()">press</button>
    <button (click)="dontpress()">dont press</button>
</div>

<div>
    <p>name: {{name}}</p>
    <p>street: {{address.street}}</p>
    <p>city: {{address.city}}</p>
    <ul>
        <li *ngFor="let hobby of hobbies">
            {{hobby}}
        </li>
    </ul>
</div>
-->


<form (submit)="agregarUsuario(newUser)">
    <input type="text" #newUser>
    <button>enviar usuario</button>
</form>

<li>
    <ul *ngFor="let user of users">
        {{user}}
        <button (click)="deleteUser(user)">x</button>
    </ul>
</li>




